<html>
    <body>
        <h1>Welcome to the deployment</h1><br><br>
        <form>
            contact us:<button formaction="http://127.0.0.1:4789/contact_Us"> Click here to go to contact us page</button>
        </form><br>
        <form  method="post" action="/submit">
            <input type="number" name="preg" placeholder="preg"><br>
            <input type="number" name="plas" placeholder="plas"><br>
            <input type="number" name="pres" placeholder="pres"><br>
            <input type="number" name="skin" placeholder="skin"><br>
            <input type="number" name="test" placeholder="test"><br>
            <input type="number" name="mass" placeholder="mass"><br>
            <input type="number" name="pedi" placeholder="pedi"><br>
            <input type="number" name="age" placeholder="age"><br>
            <button>submit</button>
        </form>
        <p>This is the main landing page of our website.</p>
    </body>
</html>